$page-bg: #444050;
$page-padding: 0 12px;

$btn-weight: 174px;
$btn-color: #ffffff;
$btn-bg: #191919;
$btn-padding: 8px;
$btn-round: 16px 0 16px 0;
$btn-size: 24px;

$icons-gap: 12px;
    $icon-size-desktop: 5vh;
    $icon-size-mobile-table: 8vmin;
    $icon-padding: 2px;
    $icon-round: 6px;
    $icon-bg: #FFFFFF;

$transition: all ease-in-out 0.3s;