* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  text-decoration: none;
  list-style-type: none;
  margin: 0;
  padding: 0;
  border: 0;
}

html, body {
  height: 100%;
  font-size: 100%;
  font-size: 18px;
  color: #ffffff;
}

img, svg {
  display: block;
  -o-object-fit: cover;
     object-fit: cover;
  width: 100%;
  height: 100%;
  max-width: 100%;
  max-height: 100%;
}

button, input, textarea {
  font-family: inherit;
}

input, button {
  display: block;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border: none;
  cursor: pointer;
  outline: none;
}

:focus, :active {
  outline: none;
}

a {
  display: block;
  color: #ffffff;
}

h1, h2, h3, h4, h5, h6 {
  font-family: inherit;
  font-size: inherit;
}

body::-webkit-scrollbar {
  width: calc(6px - 0.15vmin + 0.15vmax);
}
body::-webkit-scrollbar-track {
  background-color: #191919;
}
body::-webkit-scrollbar-thumb {
  background-color: #D22B2B;
  border-radius: 2px;
}

.page {
  position: relative;
  background-color: #444050;
}

body .wrapper {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr;
  grid-template-columns: 1fr;
  -ms-grid-rows: 1fr;
  grid-template-rows: 1fr;
  height: 100vh;
  max-width: 100vw;
  margin: 0 auto;
}

body .wrapper > *:nth-child(1) {
  -ms-grid-row: 1;
  -ms-grid-column: 1;
}
body .wrapper .header {
  position: relative;
  width: 100%;
  height: 1024px;
  overflow: hidden;
}
body .wrapper .header_bg {
  position: absolute;
  width: 100%;
}
body .wrapper .main {
  width: 100%;
}

.section {
  width: 100%;
}
.section--calendar {
  position: relative;
  width: 100%;
  height: 600px;
  overflow: hidden;
}
.section_bg {
  position: absolute;
  width: 100%;
}